.login-card .input-field-container .form-title {
	color: white;
	padding-bottom: 10px;
  }
  
  .login-card .input-field-container .input-field-item {
	padding: 10px;
  }
  
  .login-card .input-field-container .input-field-item .input {
	background-color: white;
  }