.home-container .content-container .map-container .map {
  height: 150px;
  width: 100%;
  margin: auto;
}
.home-container .content-container .event-card {
  margin: 5px;
}

.home-container .content-container .event-card .rating {
  padding-top: 25px;
}

.home-container .content-container .event-card-buttons-container {
  text-align: right;
}

.home-container .content-container .event-card-buttons-container .event-button {
  text-align: center;
}

.home-container .content-container .event-description-item {
  margin: 15px 15px 0;
}

.home-container .content-container .event-title-item {
  margin: 15px;
}

.home-container
  .content-container
  .event-card-buttons-container
  .event-button-liked {
  text-align: center;
}

/* like/dislike button */

.home-container
  .content-container
  .event-card-buttons-container
  .event-button-liked
  .MuiButtonBase-root {
  color: blue;
}

.home-container
  .content-container
  .event-card-buttons-container
  .event-button-disliked {
  text-align: center;
}

.home-container
  .content-container
  .event-card-buttons-container
  .event-button-disliked
  .MuiButtonBase-root {
  color: red;
}

.home-container .content-container .comments-item {
  margin: 0 15px 10px;
}

.home-container .content-container .comment-section {
  padding: 20px;
}

.home-container .content-container .comment-section-new .comments {
  width: 100%;
}

#comment-section-comment {
  margin: 5px 15px;
  width: auto;
  height: 40px;
  border-radius: 15px;
  color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

#comment-section-name {
  margin: 5px 15px;
  width: auto;
  height: 40px;
  border-radius: 15px;
  font-weight: bold;
}

hr {
  width: 100%;
}

.form-card .MuiCardContent-root {
  background-color: grey;
}
